
/* 
Sintaxis Box-shadow: h-offset v-offset blur spread color;
h-offset: desplazamiento horizontal de la sombra
v-offset despazamiento vertical de la sombra
blur: difuminado de la sombra
spread: exparsion de la sombra
color: color de la sombra.


box-shadow: necesita al menos dos valores para funcionar.

h y v offset.

En el primer valor con numero positivo se va a mover hacia la derecha y el segundo hacia abajo, Si ponemos numeros negativos se mueve hacia el lado contrario.

con una coma en box-shadow podemos seguir agregando sombras.*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fafafa;
}

.img{
    display: block;
    width: 400px;
    margin: 30px auto;
    /* box-shadow: 8px 8px 12px rgba(6, 24, 129, 0.513); */
    box-shadow:3px 3px 10px rgba(0,0,0, .75);
}

.box{
    width: 100px;
    height: 100px;
    margin:30px;
    background: steelblue;
    /* box-shadow: h-offset v-offset blur spread color; */
    /* box-shadow:100px 100px 0 0 crimson,
                100px 0 darkblue,
                0 100px darkgoldenrod ; */
    box-shadow: 3px 2px 12px  crimson;
}
