*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: #f2f2f2;
    font-family: 'Arial';
}

.card{
    width: 300px;
    height: 350px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow:  2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.img{
    width: 100%;
    padding-bottom: 20px;
    border-radius: 9px;
}

.contenedor{
    display: block;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.title{
    display: block;
    background: #221F2F;
    color: white;
    padding: 10px;
    width: 150px;
    margin: 0 auto 20px;
    border-radius: 5px;


}

.copy{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100px;
}


.cta{
    display: block;
    background: #A60909;
    color: white;
    padding: 5px;
    width: 100px;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
